@font-face {
	font-family: Josefin;
	src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.main-container {
	font-family: Josefin;
	font-size: 16px;
}
.content-row {
	display: flex;
}
.text-column {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 40px 0 0 200px;
}
.logo-image {
	position: absolute;
	top: 30px;
	left: 200px;
}
.heading-text {
	position: relative;
	color: hsl(0, 6%, 24%);
	font-size: 64px;
	font-weight: 400;
	letter-spacing: 10px;
	text-transform: uppercase;
	width: 50px;
	margin: 15% 0 20px 0;
}
.higlighted-text {
	font-weight: 300;
	color: hsl(0, 36%, 70%);
}
.description-text {
	color: hsl(0, 36%, 70%);
	width: 500px;
	line-height: 30px;
	margin: 0 0 20px 0;
}
.input-row {
	display: flex;
	width: 500px;
}
.input-field {
	font-family: Josefin;
	width: 100%;
	padding: 15px 25px;
	border: 1px solid hsla(0, 6%, 24%, 0.3);
	border-radius: 30px;
}
.input-field:focus {
	outline: none;
}
.input-image-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 40px;
	margin: 0 0 0 -40px;
	background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border-radius: 40px;
	box-shadow: 0 10px 15px rgba(128, 128, 128, 0.3);
	cursor: pointer;
	transition: 0.4s;
}
.input-image-div:hover {
	transform: scale(110%, 110%);
	box-shadow: 0 10px 15px hsla(0, 74%, 74%, 0.75);
}
.input-button-image {
	height: 20px;
}
.alert-text {
	color: hsl(0, 93%, 68%);
	margin: 10px 0 0 26px;
}
.hero-image-desktop {
	display: block;
	height: 100vh;
}
.hero-image-mobile {
	display: none;
}
@media (max-width: 475px) {
	.main-container {
		width: 100vw;
	}
	.content-row {
		flex-direction: column-reverse;
		margin: 110px 0 0 0;
	}
	.logo-image {
		position: absolute;
		top: 40px;
		left: 40px;
	}
	.hero-image-desktop {
		display: none;
	}
	.hero-image-mobile {
		display: block;
	}
	.text-column {
		flex: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0 0 30px 0;
	}
	.heading-text {
		font-size: 40px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		width: 60%;
		margin: 60px auto 20px;
	}
	.description-text {
		color: hsl(0, 36%, 70%);
		width: 90%;
		text-align: center;
		line-height: 30px;
		margin: 0 auto 20px;
	}
	.input-row {
		width: 90%;
		margin: 0 auto 0;
	}
	.alert-text {
		color: hsl(0, 93%, 68%);
		margin: 10px 0 50px 45px;
	}
}
